* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

.full {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(120, 100%, 20%);
    z-index: -1;
}

#app {
    width: calc(100% - 4rem);
    height: calc(100% - 4rem);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(0, 0%, 100%);
    z-index: 0;
}

.background {
    width: calc(100% - 4rem);
    height: calc(100% - 4rem);
    position: fixed;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(4rem, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(4rem, 1fr));
    border-top: #000 solid 8px;
    border-bottom: #000 solid 8px;
    z-index: 1;
}

.light-square {
    width: 4rem;
    height: 4rem;
    background-color: hsl(120, 100%, 40%);
    z-index: 2;
}

.dark-square {
    width: 4rem;
    height: 4rem;
    background-color: hsl(120, 100%, 20%);
    z-index: 2;
}

.blue-square {
    width: 4rem;
    height: 4rem;
    background-color: hsl(239, 90%, 46%);
    z-index: 3;
}

.outer-container {
    width: 30%;
    height: 75%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: hsla(120, 100%, 80%, 0.6);
    border-radius: 1rem;
    z-index: 1;
}
.inner-container {
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: hsla(120, 100%, 80%, 0.8);
    border-radius: 1rem;
    z-index: 1;
}

.header {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    z-index: 1;
}

.title {
    font-size: 4rem;
    font-weight: bold;
    color: #000000;
}

.buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.button {
    width: 200px;
    height: 50px;
    background-color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    color: #000;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.play {
    background-color: #4CAF50;
    color: #fff;
}
.play:hover {
    background-color: #2b762f;
}

.settings {
    background-color: #2196F3;
    color: #fff;
}
.settings:hover {
    background-color: #0a5999;
}


.game-board {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(7, 4rem);
    grid-template-rows: repeat(5, 4rem);
    border-top: #000 solid 8px;
    border-bottom: #000 solid 8px;
}   

.cell {

}